{%extends 'base.html'%}

{%block content%}
		<div class="group">	
			<h1 id="lesson1"> <em>  Lesson 1 - Introduction</em> </h1>

            <div class="concept">
                <h3 class="concept-title" id="lesson1.1">How Internet Works?</h3>

                <div class="concept-description">
                    <p>
                        To understand HTML, its importannt to know how the chain of co-relation connects Web, URL, HTTP & various web applications to access information & data across the world. World Wide Web, started in early 1990s, is a medium which glues all these together thus creating a virtual world of knowledge we cannot do without.The answer to almost all question lies in WWW.
                    </p>
                </div>
            </div>
            <br>
            <div class="concept">
                <h3 class="concept-title" id="lesson1.2">Major Components of Web</h3>

                <div class="concept-description">
                    The major Components of web are:
                    <ol>
                        <li>User (Human) or particularly User PC/Laptop</li>
                        <li>The Internet</li>
                        <li>HTTP protocol</li>
                        <li>Servers - Servers are nothing but optimized stack of hard disks used as storage devices to store these HTMLdocuments, images etc.</li>
                    </ol>
                    <p>
                        When a user types in their request for information via browser, the internet uses HTTP to retrieve the appropriate HTML document stored in servers back to the user's PC.These listed components work in co-realtion to form a large network of data.
                    </p>
                </div>
            </div>
        </div>
        <!--end of lesson 1-->
        <br>
        <img src="https://lh6.ggpht.com/tAZ1z5QqHrDdq2X4cLa3Ut2c1TBArhgf5SY6HPZl4qfu69HsIxSdnVm0ZAOUmO9PELVZ=w300" alt="www.udacity.com" width="134" height="142">
        <br>
        <!--start of lesson 2-->

        <div class="group">
            <h1 id="lesson2"> <em> Lesson 2 - Basics Of HTML</em> </h1>

            <div class="concept">
                <h3 class="concept-title">HTML - HYPER TEXT MARK UP LANGUAGE</h3>

                <div class="concept-description">
                    <p>
                        <em>HTML</em> is the laguage of web. It is used to describe the web page or specifically the layout and content of a web page.
                    </p>
                    HTML is made up of following:-
                    <ol type="a">
                        <li>Text Content</li>
                        <li>Tags- Mark up is done using tags</li>
                        <li>Images & Videso - Has references to videos,images, animations etc.</li>
                        <li>Links - links to other pages</li>
                    </ol>
                </div>
            </div>
            <br>
            <div class="concept">
                <h3 class="concept-title" id="lesson2.2">HTML Elements</h3>

                <div class="concept-description">
                    <p>
                        HTML markup is done using tags. Tags are like instructions telling the browser how to present a content. It has an opening tag and a closing tag encasing the content to be dispalyed as per the instructions provided in the tag.
                    </p>
                    <p>
                        The syntax is as shown:
                        <span class="tagid">&lt;tag name&gt;</span>
                        <span class="tagbet">...content...</span>
                        <span class="tagid"> &lt;/tag name&gt; </span>
                    </p>
                    This combination is also referred to as <em>Element</em>.
                    <p>
                        <a href="https://www.udacity.com/course/viewer#!/c-nd000/l-3873828673/e-48011976/m-48311799">Here</a> are a few example tags commonly used in HTML.
                    </p>
                    <p>
                        At times some elements need a fourth object known as <em>attribute</em> (will be covered in the next chapter) while a few elements does not have a closing tag also known as void tag. Go through this<a href="https://www.udacity.com/course/viewer#!/c-nd000/l-3873828673/e-48666064/m-48678767"> video </a> to understand <em>void</em> tag and whitespace.
                    </p>
                </div>
            </div>
            <br>
            <div class="concept">
                <h3 id="lesson2.3" class="concept-title">Why Computers are Stupid</h3>

                <div class="concept-description">
                    <p>
                        Computers are stupid because they interpret instructions literally. This makes them very unforgiving since a small mistake by a programmer can cause huge problems in a program. Ensure that you close all tags or use a smart text-editor to do the job for you.
                    </p>
                </div>
            </div>
            <br>
            <div class="concept">
                <h3 id="lesson2.4" class="concept-title">HTML Attributes</h3>

                <div class="concept-description">
                    <p>
                        Earlier while discussing HTLML elements, we came across something called as <em>attribute</em>. Attributes are nothing but additional information about those elements and can add to the existing content.
                    </p>
                    <p>
                        In this <a href="https://www.udacity.com/course/viewer#!/c-nd000/l-3873828673/e-48508417/m-48723411">video</a> we can see attribute has been used to hyperlink to another page using an <b>anchor</b> tag.
                    </p>
                    The syntax is :
                    <!--this here is white space not diplayed by HTML-->
                    <span class="tagid"> &lt;tag name&gt; + <b>atttr="value"</b></span>
                    <span class="tagbet">...content...</span>
                    <span class="tagid">&lt;/tag name&gt;</span>
                    <p>
                        Similarly we can use attribute to source image from another page using <b>image</b> tag, or define the witdth and height of an image or use <b>alt</b> attribute in case some element cannot be displayed as shown <a href="https://www.udacity.com/course/viewer#!/c-nd000/l-3873828673/m-48744041">here</a>.
                    </p>
                </div>
            </div>
            <br>
            <div class="concept">
                <h3 id="lesson2.5" class="concept-title">Inline & Block </h3>

                <div class="concept-description">
                    <p>
                        HTML elements are either <b>inline </b> or <b> block</b>. Block elements form an "invisible box" around the content inside of them.
                    </p>
                    An example of this is shown in this <a href="https://www.udacity.com/course/viewer#!/c-nd000/l-3873828673/e-48756004/m-48748018">video</a>.
                </div>
            </div>
            <br>
            <div class="concept">
                <h3 id="lesson2.6" class="concept-title">HTML Document</h3>

                <div class="concept-description">
                    The HTML document has a pre defined structure.
                    <ol type="1">
                        <li><b>Doctype</b> declaration - This is important as it tells the browser which version of HTML document this is.</li>
                        <li><b>Head</b> - this represents the title of the page also known as 'meta data'</li>
                        <li><b>body </b>- this is the visible part of webpage
                        </li>
                    </ol>
                    This <a href="https://www.udacity.com/course/viewer#!/c-nd000/l-3873828673/m-48748025">video</a> gives a good overview on the topic.
                </div>
            </div>
        </div>
        <!--end of lesson 2-->
        <br>
        <img src="https://lh6.ggpht.com/tAZ1z5QqHrDdq2X4cLa3Ut2c1TBArhgf5SY6HPZl4qfu69HsIxSdnVm0ZAOUmO9PELVZ=w300" alt="www.udacity.com" width="134" height="142">
        <br>
        <!--start of lesson 3-->

        <div class="group">
            <h1 id="lesson3"> <em>  Lesson 3 - Creating a Structured Document with HTML </em> </h1>
            <div class="concept">
                <h3 class="concept-title" id="lesson3.1">Developer Tools (in the Browser)</h3>

                <div class="concept-description">
                    <p>
                        HTML elements are either inline or block. Block elements form an "invisible box" around the content inside of them. To check this out in detail, open a random website -> press 'Ctrl+Shift+J' -> click on elements.
                    </p>
                </div>
            </div>
            <br>
            <div class="concept">
                <h3 class="concept-title" id="lesson3.2">DOM - Document Object Model</h3>

                <div class="concept-description">
                    <p>
                        The HTML Document structure are further represented ina tree like manner. The "tree-like structure" comes from the fact that HTML elements can have other elements inside of them.
                    </p>
                    <p>
                        You can draw this relationship like a family tree. My mother had multiple children.So did her mother, and so on...In a browser, this structure shows up as a series of nested boxes.There are boxes inside of boxes inside of boxes, and so onPofessional programmers also refer this as "Document Object Model".
                    </p>
                </div>
            </div>
            <br>
            <div class="concept">
                <h3 class="concept-title" id="lesson3.3">HTML and boxes</h3>

                <div class="concept-description">
                    <p>
                        When you read an HTML document as text, you see a wave of changing indentations going up and down the left side of the document. The more indented an element is, the more deeply nested it's corresponding "box" is.
                    </p>
                </div>
            </div>
            <br>
            <div class="concept">
                <h3 class="concept-title" id="lesson3.4">Text Editors (for programming)</h3>

                <div class="concept-description">
                    <p>
                        When writing code, programmers use special text editors (like Sublime Text for example). These editors make the programmer's life easier.For example, some text editors will automatically generate a closing HTML tag when you write an opening tag or indicate that you need to include an end tag to your start. Also there are certain text editors used for certain style which will be explained in the next lesson.
                    </p>
                </div>
            </div>
        </div>
        <!--end of lesson 3-->
        <br>
        <img src="https://lh6.ggpht.com/tAZ1z5QqHrDdq2X4cLa3Ut2c1TBArhgf5SY6HPZl4qfu69HsIxSdnVm0ZAOUmO9PELVZ=w300" alt="www.udacity.com" width="134" height="142">
        <br>
        <!---start of lesson 4-->
        <div class="group">
            <h1 id="lesson4"> <em>  Lesson 4 - Adding CSS Style to HTML Structure</em> </h1>
            <div class="concept">
                <article>
                    <h3 class="concept-title" id="lesson4.1">CSS</h3>

                    <div class="concept-description">
                        <p>
                            CSS stands for Cascading Style Sheets and they give programmers a way to control the style of related HTML elements (either inline, Internal or External). This is done by giving similar HTML elements the same class and then specifying the style that should apply to that class.CSS saves a lot of work by controlling multiple page layout at once. It thus helps in avoiding repetition of code & you can change the oulook of your whole page by just changing or adding CSS Sheet.
                            <br> A CSS rule set consists of <em>selector</em> &<em>declaration</em>. In the declaration block we can define the <em>property</em> & <em>value</em> of each property. A declaration can contain many properties at a time as shown below:
                        </p>
                        <div class="sample">
                            <img src="http://www.w3schools.com/css/selector.gif" alt="CSS selector & declaration">
                        </div>
                        <br> CSS Styling can be done in 3 differnt ways:
                        <ol>
                            <li><strong>INLINE STYLE</strong>- This uses style attribute in the same line as HTML code as shown below:
                                <br>
                                <span class="tagid">&lt;h1 style="color:blue;margin-left:30px;"&gt;</span>
                                <span class="tagbet">.This is a heading.</span>
                                <span class="tagid">&lt;/h1&gt;</span>
                                <br>
                            </li>
                            <li><strong>INTERNAL STYLE</strong>- If the style is unique to the page, we can use Internal style. This is defined within the sytle element inside the head section of the HTML page as below:
                                <pre>
                          &lt;style&gt;
                          </pre>
                                <pre>
                             body {
                              background-color: linen;
                                  }
                             h1 {
                              color: maroon;
                              margin-left: 40px;
                                } 
                          </pre>
                                <pre>
                          &lt;/style&gt;
                          </pre>
                                <br>
                            </li>
                            <li><strong>EXTERNAL STYLE</strong>- Using external sheet we can re-define the whole web page by just changing one file. The first step is to include the external fine using the link element inside the head of the HTML page:
                                <pre>
                          &lt;head&gt;
                          &lt;link rel="stylesheet" type="text/css" href="mystyle.css"&gt;
                          &lt;/head&gt;
                          </pre> The style sheet should be saved using a .css extension. Assigning values to selector is done in the same way like internal sheet however there is also an important concept which is selector types for this particular. <a href="https://css-tricks.com/how-css-selectors-work/">Here</a> is an overview. </li>
                        </ol>
                        <br> You can also try out <a href="https://www.udacity.com/course/viewer#!/c-nd000/l-4131369051/m-3611108698">this</a> link for working out these complexities using different text editors like scratchpad.io which uses inline style or codepen which uses external.
                    </div>
                </article>
            </div>
            <br>
            <div class="concept">
                <h3 class="concept-title" id="lesson4.2">Avoid Repetition</h3>

                <div class="concept-description">
                    <p>
                        Avoiding repetition is important for a variety of reason
                    </p>
                    <p>
                        <b>Avoiding Errors:</b> When programmers <em>don't</em> avoid repetition, they will often have to do the same thing over and over. This may mean copy and pasting certain style attributes into many HTML elements or rewriting the same code (sometimes with minor differences) many times. This can lead to errors when the programmer decides to make a change to something. If they don't dilligently make that same change everywhere the repeated code appears, problems will arise.
                    </p>
                    <p>
                        <b>Consistency:</b> Maintain same style by defining a class, then make changes only to the class described around the content.By avoiding repetion, it's now very easy for me to make changes to this style.
                    </p>
                </div>
            </div>
            <br>
            <div class="concept">
                <h3 class="concept-title" id="lesson4.3">The Box Model</h3>

                <div class="concept-description">
                    In CSS, the term "box-model" is used while designing the layout of the page. It essentially wraps around all HTML elements and consists of : Margins, Border, Padding and Content. The image below ilustrates the box model:
                    <br>
                    <br>
                    <div class="sample">
                        <img src="http://www.w3schools.com/css/box-model.gif" alt="Box Model layout">
                    </div>
                    <br>
                    <b>Content</b> - The content of the box, where text and images appear
                    <br>
                    <b>Padding</b> - Clears an area around the content. The padding is transparent
                    <br>
                    <b>Border</b> A border that goes around the padding and content
                    <br>
                    <b>Margin</b> - Clears an area outside the border. The margin is transparent
                    <br>
                    <p>
                        Box model plays an important role in assigning proper width and height to any element. Also <a href="https://www.udacity.com/course/viewer#!/c-nd000/l-4131369051/m-2771378571">postioning of boxes</a> as the content desires can be a task if we do not include the flexbox style rule. <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">Here</a> is a guide to flex box which helps in understanding box sizing and postoning isssues. Remember, different browsers display the same code differently. So sizing of elemnts should be done so it appears as desired in all types of browser.
                    </p>
                </div>
            </div>
{%endblock%}